.header {
    background: $color-blue;
    color: #fff;
    padding: 25px 0 85px 0;
    overflow: hidden;

    .for-title {
        .txt {
            margin: 50px 0 0 0;
        }
    }

    .h-top {
        position: relative;
        z-index: 10;
    }

    .h-middle {
        margin: -50px 0 0 0;

        .pic {
            margin: 0px 0 0 -267px;
        }
    }

    .h-bottom {
        .hb-block {
            background: rgb(255 255 255 / 17%);
            backdrop-filter: blur(20px);
            padding: 20px;
            height: 100%;

            .cube {
                width: 11px;
                height: 11px;
                margin: 0 0 15px 0;
                background: $color-orange;
            }
        }
    }

    @media(min-width: 768px) and (max-width: 1199px) {
        .hm-right {
            .pic {
                img {
                    width: 900px;
                }
            }
        }
    }

    @media(min-width: 768px) and (max-width: 991px) {
        .h-bottom {
            .hb-block {
                width: 200px;
            }

            .hb-row {
                overflow-x: auto;
            }
        }
    }

    @media(max-width: 767px) {
        padding: 10px 0 45px 0;

        .logo {
            img {
                width: 105px;
            }
        }

        .for-title {
            .txt {
                margin: 20px 0 0 0;
            }
        }

        .h-middle {
            margin: 30px 0 50px 0;

            .pic {
                margin: 0px;
                margin: 10px auto 0;

                img {
                    max-width: 100%;
                    margin: 0 -50px 0 30px;
                }
            }
        }

        .h-bottom {
            .hb-block {
                width: 200px;
                padding: 15px;

                .cube {
                    width: 9px;
                    height: 9px;
                }
            }

            .hb-row {
                overflow-x: auto;
                margin-right: -13px;
            }
        }
    }
}

.profit {
    padding: 130px 0 0 0;

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 95px 0 0 0;
    }

    @media(max-width: 767px) {
        padding: 65px 0 0 0;
    }
}

.for {
    padding: 140px 0 0 0;

    .f-block {
        overflow: hidden;

        .icon {
            width: 25px;

            img {
                max-width: 100%;
            }
        }
    }

    .f-right {
        .row {
            &>div {
                margin: 15px 0;
            }
        }
    }

    .fr-block {
        min-height: 210px;
        padding: 25px;
        height: 100%;
        background: $color-blue;
        position: relative;
        color: #fff;

        .pic {
            right: 0;
            top: 0;
            position: absolute;
        }

    }

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 100px 0 0 0;
    }

    @media(max-width: 767px) {
        padding: 60px 0 0 0;

        .f-left {
            .f-block {
                .icon {
                    width: 19px;
                }
            }
        }

        .f-right {
            .row {
                &>div {
                    margin: 15px 0 0 0;
                }
            }
        }

        .fr-block {
            min-height: 180px;
            padding: 20px;

            .icon {
                img {
                    width: 28px;
                }
            }

            .pic {
                img {
                    width: 150px;
                }
            }
        }
    }
}

.help {
    padding: 140px 0 0 0;

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 95px 0 0 0;

        .pic {
            img {
                width: 450px;
            }
        }
    }

    @media(max-width: 767px) {

        .pic {
            position: absolute;
            left: 70px;
            top: 0;
            transform: translateY(-54%);

            img {
                width: 240px;
            }
        }
    }
}

.modules {
    padding: 110px 0 150px 0;

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 60px 0 80px 0;
    }

    @media(max-width: 767px) {
        padding: 40px 0 60px 0;
    }

    .swiper-pagination {
        color: rgba(192, 199, 209, 0.6);

        .swiper-pagination-bullet {
            position: relative;
            transition: 0.3s;
            width: auto;
            height: auto;
            border: none;
            text-indent: initial;
            display: block;
            border-radius: 0;
            background: none;
            opacity: 1;
            box-shadow: none !important;
            outline: none !important;

            &:before {
                content: '';
                width: 1em;
                height: 1em;
                border-radius: 50%;
                background: rgba(192, 199, 209, 0.6);
                transition: inherit;
            }

            &:hover {
                color: rgba(192, 199, 209, 1);

                &:before {
                    background: rgba(192, 199, 209, 1);
                }
            }

            &-active {
                color: $color-orange !important;

                &:before {
                    background: $color-orange !important;
                }
            }
        }

        @media(min-width: 768px) {
            left: initial;
            right: 50px;
            top: 40px;
            text-align: right;

            .swiper-pagination-bullet {
                padding-right: 25px;

                &:not(:last-of-type) {
                    margin-bottom: 30px;
                }

                &:before {
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    position: absolute;
                }
            }
        }

        @media(max-width: 767px) {
            position: relative;
            left: initial;
            top: initial;
            right: initial;
            bottom: initial;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(70px, auto);
            margin: 0 0 10px 0;

            .swiper-pagination-bullet {
                background: #F8F9FC;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 10px;

                &:before {
                    margin: 0 0 5px 0;
                }
            }
        }
    }

    .slider {

        @media(min-width: 768px) {
            .swiper-container {
                height: 100%;
            }
        }
    }

    .module {
        display: flex;
        flex-direction: column;

        .m-top {
            background: #F8F9FC;
            padding: 45px 200px 45px 45px;
            flex-grow: 1;
        }

        .m-bottom {
            background: $color-blue;
            padding: 40px;
            color: #fff;
            position: relative;

            &:after {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(../images/numbers.svg) no-repeat right top / auto 100%;
            }
        }

        @media(max-width: 767px) {
            .m-top {
                padding: 25px 20px 25px 20px;
            }

            .m-bottom {
                padding: 30px 20px 25px 20px;

                &:after {
                    background-size: 175px auto;
                    background-position: right bottom;
                }
            }
        }
    }
}

.who {
    padding: 75px 0;
    background: $color-blue;
    color: #fff;

    .for-logo {
        margin: 80px 0 0 0;
        position: relative;

        .logo {
            position: relative;
            z-index: 2;
        }

        .symbol {
            right: 0;
            top: 0;
            transform: translate(60%, -20%);
            position: absolute;
        }
    }

    .w-block {
        padding: 25px 25px 30px 30px;
        background: rgba(255, 255, 255, 0.24);
        max-width: 350px;
        margin: 220px 0 0 0;
        position: relative;
        z-index: 2;
    }

    @media(min-width: 768px) and (max-width: 1199px) {
        .for-logo {
            img {
                max-width: 100%;
            }
        }

        .w-block {
            padding: 15px 20px 25px 20px;

            .icon {
                img {
                    width: 34px;
                }
            }
        }
    }

    @media(max-width: 767px) {
        padding: 60px 0;

        .for-logo {
            margin: 40px 0 0 0;

            .logo {
                img {
                    width: 146px;
                }
            }

            .symbol {
                transform: translate(60%, 10%);

                img {
                    width: 240px;
                }
            }
        }

        .w-block {
            padding: 15px 25px 25px 25px;
            max-width: 100%;
            margin: 55px 0 0 0;

            .icon {
                img {
                    width: 34px;
                }
            }
        }
    }
}

.founder {
    padding: 135px 0 0 0;

    .f-inner {
        background: #F8F9FC;
        padding: 30px 55px 0 55px;

        .f-block {
            padding: 40px 0 50px 0;
        }

        .squad-list {
            margin: 80px 0 0 0;

            p {
                &:before {
                    background: $color-orange;
                }
            }
        }
    }

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 95px 0 0 0;

        .f-inner {
            background: #F8F9FC;
            padding: 30px 20px 0 20px;

            .f-block {
                padding: 30px 0;
            }

            .squad-list {
                margin: 40px 0 0 0;
            }
        }
    }

    @media(max-width: 767px) {
        padding: 60px 0 0 0;

        .f-inner {
            background: #F8F9FC;
            padding: 30px 20px 0 20px;

            .f-block {
                padding: 0;
            }

            .squad-list {
                margin: 30px 0 0 0;
            }
        }

        .photo {
            max-width: 300px;
            margin: auto;
        }
    }
}

.cost {
    padding: 140px 0 140px 0;

    .prices {
        margin: 70px 0 0 0;
    }

    @media(min-width: 768px) and (max-width: 1199px) {
        padding: 95px 0;
    }

    @media(max-width: 767px) {
        padding: 65px 0;

        .prices {
            margin: 45px 0 0 0;
        }

        .order {
            width: 100%;

            .cl-btn {
                width: 100%;
            }
        }
    }
}

.warranty {
    padding: 60px 0 50px 0;
    background: $color-blue;
    color: #fff;

    .w-left {
        max-width: 490px;
    }

    .w-block {
        background: rgba(255, 255, 255, 0.24);
        margin: 90px 0 0 0;
    }

    .for-phone {
        display: inline-block;
        position: relative;

        .phone {
            position: relative;
            z-index: 2;
        }

        .symbol {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -60%);
        }
    }

    .links {
        margin: 40px 0 0 0;
        color: #C0C7D1;

        @media(max-width: 991px) {
            .for-social {
                order: -1;
            }
        }
    }

    @media(max-width: 767px) {
        padding: 45px 0 45px 0;

        .for-phone {
            margin: 30px 0 0 0;

            .phone {
                max-width: 240px;

                img {
                    max-width: 100%;
                }
            }

            .symbol {
                transform: translate(-40%, -50%);

                img {
                    width: 480px;
                }
            }
        }

        .w-block {
            background: rgba(255, 255, 255, 0.24);
            margin: 30px 0 0 0;
        }
    }
}

.lesson {
    .lesson-inner {
        background: url(../images/lesson-bg.jpg) no-repeat center / cover;
        padding: 40px 0;
        color: #fff;

        @media(max-width: 767px) {
            padding: 20px 0;
        }

        .logo {
            margin: 0 0 60px 0;

            @media(max-width: 767px) {
                margin: 0 0 30px 0;

                img {
                    width: 120px;
                }
            }
        }

        .for-title {
            margin: 0 0 60px 0;

            @media(max-width: 767px) {
                margin: 0 0 30px 0;
            }
        }

        .for-video {
            max-width: 1100px;
            margin: auto;
        }

        .video-block {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .min-videos {
            .row {
                &>div {
                    margin-top: 45px;

                    @media(max-width: 767px) {
                        margin-top: 20px;
                    }
                }
            }
        }

        .min-video {
            cursor: pointer;
            position: relative;
            margin: auto;
            max-width: 270px;
            height: 140px;
            transition: 0.3s;

            &.active {
                pointer-events: none;
            }

            &:not(.locked):hover {
                opacity: 0.6;
            }

            &:before {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                height: 50%;
                background: linear-gradient(180deg, rgba(62, 82, 143, 0) 30.21%, rgba(62, 82, 143, 0.85) 100%);
                width: 100%;
            }

            .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                position: relative;
                z-index: 2;
                width: 60px;
                height: 40px;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            p {
                text-decoration: underline;
                position: absolute;
                padding: 10px;
                left: 0;
                width: 100%;
                bottom: 0;
                text-align: center;
                z-index: 2;
            }
        }
    }
}