body {
	font-family: $font-family-base;
	font-size: $font-size-root;
	line-height: $font-line-height;
	color: $color-dark;
	font-weight: $headings-font-weight;
	margin: 0;
	background: #FFF;

	@media(max-width: 1199px) {
		font-size: 14px;
	}
}

.wrapper {
	overflow: hidden;

	&.full {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		&>header,
		&>footer,
		&>main {
			width: 100%;
		}

		&>main {
			flex-grow: 1;

			section {
				width: 100%;
			}
		}

		&>section {
			flex-grow: 1;
		}
	}
}

.container {
	position: relative;
	z-index: 5;

	@media(min-width: 1200px) {
		max-width: 1240px;
	}
}

a {
	color: inherit;
	text-decoration: underline;

	&:hover,
	&:active,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

a,
input,
button {
	transition: all 0.3s ease-in-out;

	&:active,
	&:focus {
		outline: none !important;
	}
}

p {}

.min-title,
h3 {}

.title,
h2 {}

p,
.title,
.min-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	position: relative;
	z-index: 2;
}

a,
button {
	&.cl-btn {
		display: -webkit-inline-flex;
		display: -moz-inline-flex;
		display: -ms-inline-flex;
		display: -o-inline-flex;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		color: #fff;
		border-radius: 7px;
		padding: 10px 30px;
		min-height: 65px;
		font-weight: 600;
		cursor: pointer;
		border: none;
		position: relative;
		z-index: 2;
		background: $color-orange;
		border: 2px solid $color-orange;
		font-family: 'Titillium Web';
		letter-spacing: 0.05em;

		&:hover {
			background: none;
			color: $color-orange;
		}

		&.btn-blue {
			background: $color-blue;
			border-color: $color-blue;

			&:hover {
				background: none;
				color: $color-blue;
			}
		}

		@media(max-width: 575px) {
			max-width: 400px;
			width: 100%;
			min-height: 55px;
		}
	}
}

ul {
	li {
		&:not(:last-of-type) {
			margin-bottom: 10px;
		}
	}
}

form {

	.form-control {
		@include placeholder(#999);
		border-radius: 2px;
		border: 1px solid transparent;
		color: #000;
		width: 100%;
		outline: none;
		font-size: 18px;
		background-color: #ededed;

		&:focus {
			border-color: #3d3d3d;
		}
	}

	input.form-control {
		height: 60px;
		line-height: 60px;
		padding: 0 20px;

		/* Chrome, Safari, Edge, Opera */
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		&[type="number"] {
			-moz-appearance: textfield;
		}
	}

	select.form-control {
		height: 60px;
		padding: 0 20px;
		appearance: auto !important;
		-moz-appearance: auto !important;
		-webkit-appearance: auto !important;
	}

	textarea.form-control {
		padding: 10px 15px;
	}

	@media(max-width: 767px) {}
}

.page-404 {
	min-height: 100vh;

	.info {
		text-align: center;
	}

	.t1 {
		font-size: 10em;
	}

	.t2 {
		font-size: 1.4em;
		margin: 0 0 20px;
	}

	.t3 {
		font-size: 0.9em;
	}
}

.clock {
	line-height: 1;

	//Обычный с точками
	&.simple-dots {
		.countdown-row {
			display: -webkit-inline-flex;
			display: -moz-inline-flex;
			display: -ms-inline-flex;
			display: -o-inline-flex;
			display: inline-flex;
			text-align: center;

			.countdown-section {
				position: relative;
				text-align: center;

				&:not(:last-of-type) {
					margin-right: 0.9em;

					&:before {
						position: absolute;
						content: ":";
						right: -0.55em;
						top: 0.03em;
						font-weight: inherit;
						font-size: inherit;
						line-height: inherit;
						color: inherit;
					}
				}

				span {
					display: block;
					color: inherit;
					font-weight: inherit;
					line-height: inherit;

					&.countdown-amount {
						font-size: inherit;
						font-weight: inherit;
					}

					&.countdown-period {
						font-size: 0.4em;
						font-weight: 400;
						opacity: 0.3;
					}
				}
			}
		}
	}
}

#video-modal {
	.btn-close {
		position: absolute;
		right: initial;
		right: 0;
		bottom: 100%;
		top: initial;
		font-size: 20px;
		cursor: pointer;
		z-index: 10;
		filter: invert(1);
		opacity: 1;
	}

	.modal-dialog {
		max-width: 85%;
		margin-left: auto;
		margin-right: auto;

		.modal-content {
			background: none;
			padding: 0;
			box-shadow: none;
			border-radius: 0;
			border: none;
		}

		@media(max-width: 767px) {
			max-width: 100%;
		}
	}
}

.squad-list {
	p {
		padding: 0 0 0 1.4em;
		position: relative;

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 0.5em;
			width: 0.5em;
			height: 0.5em;
			background: $color-dark;
		}
	}
}

.check-list {
	p {
		padding: 0 0 0 1.3em;

		&:not(:last-of-type) {
			margin-bottom: 1em;
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 0.3em;
			width: 13px;
			height: 13px;
			background: url(../images/check.svg) no-repeat center / contain;
		}

		@media(max-width: 767px) {
			padding: 0 0 0 20px;

			&:before {
				width: 9px;
				height: 9px;
			}
		}
	}
}

.socials {
	.link {
		a {
			display: flex;
			align-items: center;
			min-height: 100px;
			padding: 5px 20px;
			color: #fff;
			text-decoration: none;
			border-radius: 10px;

			@media(max-width: 1199px) {
				min-height: 60px;

				.icon {
					img {
						width: 40px;
					}
				}
			}

			&:hover {
				transform: scale(1.05);
			}

			&.vk {
				background: linear-gradient(180deg, #629CD9 0%, #426488 100%);
				box-shadow: 0px 5px 20px rgba(95, 151, 210, 0.2), 0px 4px 0px #2B425B;
			}

			&.tg {
				background: linear-gradient(180deg, #3EB0EB 0%, #0B74A9 100%);
				box-shadow: 0px 5px 20px rgba(62, 176, 235, 0.2), 0px 4px 0px #0C415C;
			}

			&.vb {
				background: linear-gradient(180deg, #8049C4 0%, #4F2D80 100%);
				box-shadow: 0px 5px 20px rgba(149, 87, 227, 0.2), 0px 4px 0px #2E1155;
			}
		}
	}
}

.social {
	display: inline-flex;

	a {
		text-decoration: none;

		&:hover {
			opacity: 0.6;
			transform: scale(1.06);
		}

		&:not(:last-of-type) {
			margin-right: 20px;
		}
	}
}

.modal {
	.modal-dialog {
		.modal-content {
			padding: 30px;

			.btn-close {
				position: absolute;
				right: 10px;
				top: 10px;
				opacity: 1;
				z-index: 5;
				font-size: 15px;
				cursor: pointer;
			}

		}
	}
}

.ff-titillium {
	font-family: 'Titillium Web';
}

.dots {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
	background-position: left top;

	&.d-light {
		background-image: url(../images/light-dots.svg);
	}

	&.d-blue {
		background-image: url(../images/blue-dots.svg);
	}
}

.color-dots-wrapper {
	position: absolute;
	height: 200%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;

	.color-dots {
		height: 100%;
		width: 100%;
		position: absolute;
		top: -40%;
		background-repeat: repeat-y;
		background-position: left top;
		background-image: url(../images/color-dots.svg);
		top: 0;
		z-index: 2;

		@media(min-width: 1200px) and (max-width: 1599px) {
			background-size: 200px auto;
			background-position: left -30px top;
		}

		@media(min-width: 768px) and (max-width: 1199px) {
			background-size: 130px auto;
			background-position: left -30px top;
		}

		@media(max-width: 767px) {
			background-size: 100px auto;
			background-position: left -30px top;
		}

		&.cds-1 {
			left: 0;

			@media(max-width: 767px) {
				display: none;
			}
		}

		&.cds-2 {
			right: 0;
			transform: scale(-1, 1);
		}

		&.cd-light {
			background-image: url(../images/color-dots-light.svg);
		}
	}
}

ul {
	margin: 0;
}

.to-play {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		transition: 0.3s;

		@media(max-width: 767px) {
			width: 90px;
		}
	}

	&:hover {
		img {
			opacity: 0.7;
		}
	}

	&.active {
		opacity: 0;
	}
}