body {
  font-size: 16px;
  line-height: 1.3;
  color: #262626;
  margin: 0;
  background: #FFF;
}
a {
  color: #428bca;
}
a:hover,
a:active,
a:focus {
  color: #2a6496;
}
a,
input,
button {
  transition: all 0.2s ease-in-out;
}
a:active,
a:focus,
input:active,
input:focus,
button:active,
button:focus {
  outline: none !important;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  line-height: 1.1;
  font-weight: 400;
  color: inherit;
}
h1,
.h1 {
  font-size: 41px;
}
h2,
.h2 {
  font-size: 34px;
}
h3,
.h3 {
  font-size: 28px;
}
h4,
.h4 {
  font-size: 20px;
}
h5,
.h5 {
  font-size: 16px;
}
form ::-webkit-input-placeholder {
  color: #999;
  opacity: 1;
}
form ::-moz-placeholder {
  color: #999;
  opacity: 1;
}
form :-moz-placeholder {
  color: #999;
  opacity: 1;
}
form :-ms-input-placeholder {
  color: #999;
  opacity: 1;
}
form label.error {
  display: none !important;
}
form input,
form textarea,
form select {
  display: inline-block;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 5px;
  line-height: 48px;
  height: 48px;
  padding: 0 15px;
  font-size: 1em;
  font-weight: 400;
  color: #333;
}
form input.error,
form textarea.error,
form select.error {
  border-color: #E76767;
  box-shadow: 0 0 4px #CC0000;
}
form textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.3;
  resize: none;
  height: auto;
  min-height: 150px;
}
form .controls {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  margin: 0;
  padding-right: 0;
}
form .controls button,
form .controls input {
  width: 100%;
}

.wrapper {
	position: relative;
}
.navbar-a-top {
	/*position: absolute;
	top: 0;
	right: 0;
	left: 0;*/
}

.section-v-form {
	min-height: 100vh;
}
.section-v-form .card {
	max-width: 400px;
	text-align: center;
}

/* ******************* Mobile ************************ */
/* Desktop */
@media (max-width: 1199px) {
	body, html {
		font-size: 14px;
	}
}

/* Tablets */
@media (max-width: 991px) {
	body, html {
		
	}
}

/* Mobile */
@media (max-width: 767px) {
	
}